/bitrix/*
/upload
/auth

.access*
.section*
404*
favicon*
urlrewrite*
.htaccess*
yandex_*.html
google*.html
sitemap*.xml
*.log*
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.DS_Store
/.gitconfig
/.bash_history
/.cache/